<!DOCTYPE html>
<html>
  <head>
    <title>Tenjin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:900,900i' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Roboto:900,900i' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %> 
  </head>

  <body>
    <% if current_user.class == 'Admin'%>
      <%=render 'layouts/navigation'%>
    <% end %>
    <%= yield %>
  </body>
</html>
